/* ----- LAYOUT -------------------------------------------------------------------------------- */

.clear {
    display: block;
    clear: both;
}

body {
    font-family: Verdana;
    color: white;

    margin: 0;
    background: #1E1E1E;
}

h1 {
    margin: 0;
    text-transform: uppercase;
    float: left;

    color: #3F3F46;
    font-size: 65px;
    border-bottom: 5px solid #3683D3;
}

h1 .left, 
h1 .content, 
h1 .separator {
    display: block;
    float: left;
    margin: 0;
    padding-top: 20px;
}

div.left, 
div.content, 
div.separator {
    float: left;
}

.left {
    text-align: right;
}

.separator {
    width: 22px;
    color: #3683D3;
}

.content {
    margin-bottom: 40px;
}

menu {
    padding: 0;
}

@media screen and (max-width: 890px) {
    .hamburger {
        position: absolute;
        top: 37px;
        left: 5px;
        width: 56px;
        height: 42px;
        padding-top: 7px;

        cursor: pointer;
    }

    .hamburger span {
        display: block;
        margin: 0px 7px 7px 7px;
        height: 7px;
        background: #3683D3;
    }

    .left {
        width: 260px;
    }

    .container .left menu {
        position: absolute;
        width: 100%;
        display: none;

        text-align: left;
        background: #1E1E1E;
        border-bottom: 1px solid #3683D3;
    }

    .container .left menu .menu {
        padding: 0 0 20px 20px;
    }

    .container .content {
        padding: 0 10px;
    }

    .container .content h2 {
        margin: 10px 0 10px 0;
    }
}

@media screen and (max-width: 790px) {
    h1 {
        font-size: 50px;
    }

    .hamburger {
        top: 28px;
    }

    .left {
        width: 230px;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 40px;
    }

    h1 .left, 
    h1 .content, 
    h1 .separator {
        padding: 15px 0 5px 0;
    }

    .hamburger {
        top: 15px;
    }

    .left {
        width: 190px;
    }
}

@media screen and (max-width: 540px) {
    body {
        width: 540px;
    }
}




@media screen and (min-width: 890px) {
    .hamburger {
        display: none;
    }

    .left {
        width: 260px;
    }

    .content {
        width: 590px;
    }

    div.content {
        padding-left: 22px;
    }

    .container .left menu {
        display: block !important;
    }
}

@media screen and (min-width: 990px) {
    .content {
        width: 690px;
    }
}

@media screen and (min-width: 1090px) {
    .content {
        width: 790px;
    }
}

@media screen and (min-width: 1200px) {
    .content {
        width: 900px;
    }
}


menu ul {
    margin: 0 10px 0 0;
    padding: 0;
}

menu ul ul {
    margin: 0;
}

menu li {
    list-style: none;
    margin: 10px 0 0 0;
    text-transform: uppercase;
}

menu li li {
    margin: 0;
}

menu a {
    color: #3F3F46;
    font-size: 25px;
    text-decoration: none;
    text-transform: none;
}

menu a:hover, a.active {
    color: #3683D3;
}

/* ----- CONTENT ------------------------------------------------------------------------------- */

article p {
    color: #eeeeee;
    font-size: 16px;
    text-align: justify;

    margin-right: 20px;
}

article h2 {
    color: #3F3F46;
    font-size: 35px;
    font-weight: normal;
}

article h3 {
    color: #3683D3;
    font-size: 25px;
    font-weight: normal;

    margin: 0;
}

article img.image {
    margin: 10px auto;
    display: block;
}

article .image-list {
    margin: 10px auto;
}

article .image-list img {
    width: 200px;
    margin: 10px;
}

article ul.version {
    margin: 0;
    padding: 0;
    list-style: none;
}

article ul.version ul {
    list-style-type: disc;
}

article ul.version li {
    margin: 20px 0;
}

article ul.version li li {
    margin: 0;
}

article a {
    color: #eeeeee;
}

@media screen and (min-width: 890px) {
    article h2:first-child {
        display: none;
    }
}