.clear {
	clear: both;
}
.textbox {
	margin: 10px; float: left; position: relative;
}
.textbox input {
	padding: 2px 40px 2px 4px; border: 1px solid rgb(217, 217, 217); border-image: none; height: 26px; float: left;
}
.textbox input:focus {
	border-color: rgb(21, 127, 204);
}
.textbox .icons {
	top: 1px; right: 0px; position: absolute;
}
.textbox-error input {
	border-color: rgb(219, 155, 144);
}
.textbox-error input:focus {
	border-color: rgb(217, 78, 55);
}
i {
	width: 20px; height: 24px; vertical-align: sub; display: inline-block;
}
i.error {
	background: url("../images/exclamation.png") no-repeat center;
}
.textbox i.error::after {
	background: rgb(217, 78, 55); padding: 4px; border-radius: 3px; top: 20px; color: white; line-height: 1.4; font-size: 12px; font-style: normal; font-weight: bold; display: none; white-space: nowrap; position: absolute; z-index: 1030; min-width: 120px; content: attr(data-error);
}
.textbox input:focus + .icons i.error::after {
	display: block; opacity: 1;
}
i.error:hover::after {
	display: block; opacity: 1;
}
.textbox i.datetime {
	background: url("../images/date-trigger.png") no-repeat -4px; cursor: pointer;
}
.nav-tabs {
	background: rgb(245, 245, 245); padding: 5px 10px 0px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.nav-tabs > li > a {
	padding: 3px 10px; border-radius: 2px 2px 0px 0px; border: 1px solid transparent; border-image: none; line-height: 1.4285; margin-right: 2px;
}
.nav-tabs > li > a:hover {
	
}
.nav-tabs > li > a:focus {
	
}
.nav-tabs > li.active > a {
	color: rgb(85, 85, 85); border-bottom-color: transparent; cursor: default; background-color: rgb(255, 255, 255);
}
.nav-tabs > li.active > a:hover {
	color: rgb(85, 85, 85); border-bottom-color: transparent; cursor: default; background-color: rgb(255, 255, 255);
}
.nav-tabs > li.active > a:focus {
	color: rgb(85, 85, 85); border-bottom-color: transparent; cursor: default; background-color: rgb(255, 255, 255);
}
.panel-window {
	margin: 40px auto; padding: 0px; border-radius: 3px; border: 2px solid rgb(21, 127, 205); border-image: none; width: 600px; -webkit-box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px;
}
.panel-window .panel-heading {
	background: rgb(21, 127, 205); margin: 0px; padding: 5px 10px; border-radius: 0px; color: white; font-weight: bold;
}
.panel-window .panel-footer {
	margin: 0px;
}
